 <!DOCTYPE html>
 <html lang="en" xmlns:th="http://www.thymeleaf.org">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>登录</title>
     <link rel="stylesheet" href="css/login.css" th:href="@{/css/login.css}">
 </head>
 <body>
    <div class="box">
        <div id="tittle">
            <h2 align="center">登录</h2>
        </div>
        <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
        <p class="input_box">
            账户： <input id="uname" name="username" type="text" placeholder="请输入您的账户">
        </p>
        <p class="input_box">
            密码： <input id="upass" name="password" type="password" placeholder="请输入您的密码">
        </p>

        <div id="error_box"></div><br>
        <div class="button">
            <button type="submit" onclick="foLogin()">登 录</button>
        </div>
        <h4 align="center">
           <a href="register.html">没有账号？点击注册!</a>
        </h4>

       <div class="other-login">
          <button>教师登录</button>
          <button>管理员登录</button>
       </div>
    </div>
 </body>
 <script src="js/login.js" th:src="@{/js/login.js}"></script>
 </html>