<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>id</th>
        <th>title</th>
        <th>context</th>
        <th>time</th>
        <th>user</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="emp:${notice}">
        <td th:text="${emp.id}"></td>
        <td th:text="${emp.title}"></td>
        <td th:text="${emp.context}"></td>
        <td th:text="${emp.user}"></td>
        <td th:text="${#dates.format(emp.time, 'yyyy-MM-dd HH:mm')}"></td>
        <td>
            <a th:href="@{/news/}+${emp.id}">编辑</a>
            <button th:attr="del_uri=@{/news/}+${emp.id}">删除</button>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>